.bg{background-image:url("campus.jpg");height:270px;width:1500px;background-size:1500px;opacity:50}
.bg1{background-color:MidnightBlue;width:1420px;font-size:25px;color:White;padding:20px 40px}
input{width:500px;height:30px;}